<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="{{ asset('img/iconTitle.png') }}">
        <title>{% block title %} Inscription {% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div class="container mx-auto px-4 py-8 text-center">
                <h1 class="text-2xl font-bold mb-6">Choisissez votre rôle</h1>
                
                <div class="flex justify-center space-x-4"> 
                    <a href="{{ path('app_register', {'role': 'ROLE_TUTEUR'}) }}">
                        <div class="cursor-pointer bg-yellow-500 text-white font-bold py-6 px-10 rounded shadow-md hover:bg-yellow-600">
                            Tuteur
                        </div>
                    </a>

                    <a href="{{ path('app_register', {'role': 'ROLE_ELEVE'}) }}">
                        <div class="cursor-pointer bg-blue-500 text-white font-bold py-6 px-10 rounded shadow-md hover:bg-blue-600">
                            Élève
                        </div>
                    </a>

                    <a href="{{ path('app_register', {'role': 'ROLE_PARENT'}) }}">
                        <div class="cursor-pointer bg-green-500 text-white font-bold py-6 px-10 rounded shadow-md hover:bg-green-600">
                            Parent
                        </div>
                    </a>
        
                </div>
            </div>
        {% endblock %}
    </body>
    </html>

