{% extends 'base.html.twig' %}

{% block title %} Ajouter une leçon {% endblock %}

{% block body %}
<div class="container mx-auto px-6 py-8 bg-ECECEC">
    <h1 class="text-3xl font-bold text-center mb-6 text-1B4255">Ajouter une nouvelle leçon</h1>

    {{ form_start(form) }}

    <div class="mb-6">
        {{ form_label(form.titre, 'Titre', {'label_attr': {'class': 'font-bold text-567C8D'}}) }}
        {{ form_widget(form.titre, {'attr': {'class': 'form-input mt-2 block w-full text-black border-2 border-567C8D
        focus:ring-FFD700 focus:border-FFD700 rounded-lg py-2 px-3'}}) }}
        {{ form_errors(form.titre) }}
    </div>

    <div class="mb-6">
        {{ form_label(form.description, 'Description', {'label_attr': {'class': 'font-bold text-567C8D'}}) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-input mt-2 block w-full text-black border-2
        border-567C8D focus:ring-FFD700 focus:border-FFD700 rounded-lg py-2 px-3'}}) }}
        {{ form_errors(form.description) }}
    </div>

    <div class="mb-6">
        {{ form_label(form.dateCreation, 'Date de création', {'label_attr': {'class': 'font-bold text-567C8D'}}) }}
        {{ form_widget(form.dateCreation, {'attr': {'class': 'form-input mt-2 block w-full text-black border-2
        border-567C8D focus:ring-FFD700 focus:border-FFD700 rounded-lg py-2 px-3'}}) }}
        {{ form_errors(form.dateCreation) }}
    </div>

    <div class="mb-6">
        {{ form_label(form.matiere, 'Matière', {'label_attr': {'class': 'font-bold text-567C8D'}}) }}
        {{ form_widget(form.matiere, {'attr': {'class': 'form-select mt-2 block w-full text-black border-2 border-567C8D
        focus:ring-FFD700 focus:border-FFD700 rounded-lg py-2 px-3'}}) }}
        {{ form_errors(form.matiere) }}
    </div>

    <div class="mb-6">
        {{ form_label(form.niveau, 'Niveau', {'label_attr': {'class': 'font-bold text-567C8D'}}) }}
        <div class="relative">
            {{ form_widget(form.niveau, {'attr': {'class': 'form-select mt-2 block w-full text-black border-2
            border-567C8D focus:ring-FFD700 focus:border-FFD700 rounded-lg py-2 px-3'}}) }}
        </div>
        {{ form_errors(form.niveau) }}
    </div>

    <div class="mb-6">
        {{ form_label(form.user, 'Auteur', {'label_attr': {'class': 'font-bold text-567C8D'}}) }}
        {{ form_widget(form.user, {'attr': {'class': 'form-select mt-2 block w-full text-black border-2 border-567C8D
        focus:ring-FFD700 focus:border-FFD700 rounded-lg py-2 px-3'}}) }}
        {{ form_errors(form.user) }}
    </div>

    <div class="mb-6">
        {{ form_label(form.users, 'Élèves', {'label_attr': {'class': 'font-bold text-567C8D'}}) }}
        <div class="relative">
            {{ form_widget(form.users, {'attr': {'class': 'form-select mt-2 block w-full text-black border-2
            border-567C8D focus:ring-FFD700 focus:border-FFD700 rounded-lg py-2 px-3'}}) }}
        </div>
        {{ form_errors(form.users) }}
    </div>

    <div class="mb-6">
        {{ form_label(form.hourly_rate, 'Taux Horaire', {'label_attr': {'class': 'font-bold text-567C8D'}}) }}
        <div class="relative">
            {{ form_widget(form.hourly_rate, {'attr': {'class': 'form-select mt-2 block w-full text-black border-2 border-567C8D focus:ring-FFD700 focus:border-FFD700 rounded-lg py-2 px-3'}}) }}
        </div>
        {{ form_errors(form.hourly_rate) }}
    </div>    

    <div class="mb-6">
        {{ form_label(form.pdfFile, 'Document PDF', {'label_attr': {'class': 'font-bold text-567C8D'}}) }}
        {{ form_widget(form.pdfFile, {'attr': {'class': 'form-select mt-2 block w-full text-gray-300 border-2 border-567C8D
        focus:ring-FFD700 focus:border-FFD700 rounded-lg py-2 px-3'}}) }}
        {{ form_errors(form.pdfFile) }}
    </div>

    <div class="mt-8 text-center">
        <button type="submit"
            class="bg-1B4255 hover:bg-567C8D text-white font-bold py-3 px-6 rounded-lg focus:ring-2 focus:ring-FFD700">
            Enregistrer
        </button>
    </div>

    {{ form_end(form) }}
</div>
{% endblock %}