{% extends 'base.html.twig' %}

{% block title %} Détails de la leçon {% endblock %}

{% block body %}

<div class="detailLecon">

    <div>
        <h1> {{ lecon.titre }} </h1>
    </div>

    <div>
        <p class="text-gray-300">
            <strong class="font-semibold">Description: </strong> {{ lecon.description }} <br>
        </p>
    </div>
    <div>
        <p class="text-gray-300">Date de création : {{ lecon.dateCreation|date('d/m/Y') }}</p>
    </div>
    <br>
    <div>
        {% if lecon.pdfPath %}
        <a class="text-black font-bold py-2 px-4 rounded" style="background-color: #ECECEC;" href="{{ asset('uploads/pdfs/' ~ lecon.pdfPath) }}">Télécharger le PDF</a>
        {% endif %}
    </div>

    <br>
    <div class="acceeDetail">
        <div>
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TUTEUR') %}
            <a href="{{ path('edit_lecon', {'id': lecon.id} ) }}" class="text-black font-bold py-2 px-4 rounded" style="background-color: #FFD700;">
                Modifier un cours
            </a>
            {% endif %}
        </div>
    </div>
    {# -------------------------------- Affichage des exercices associés à la leçon ----------------------------- #}
    {# <div class="mt-6">
        <h2 class="text-xl font-semibold">Exercices associés</h2>

        {% if exercices is not empty %}
        <ul class="mt-4">
            {% for exercice in exercices %}
            <li class="mb-2">
                <a href="{{ path('show_exercice', {'id': exercice.id }) }}" class="text-blue-500 underline">
                    {{ exercice.titre }}
                </a>
                <p class="text-gray-400">Date de création : {{ exercice.dateCreation|date('d/m/Y') }}</p>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p class="text-gray-400">Aucun exercice disponible pour cette leçon.</p>
        {% endif %}
    </div> #}

</div>
{% endblock %}