{% extends 'base.html.twig' %}

{% block title %} Détails de la leçon {% endblock %}

{% block body %}
<div class="detailLecon">
    <div>
        <h1> {{ lecon.titre }} </h1>
        {% if is_granted('ROLE_USER') and not is_granted('ROLE_TUTEUR') and app.user != lecon.user %}
        <div class="mt-4">
            <a href="{{ path('app_booking') }}" class="text-black font-bold py-2 px-4 rounded"
                style="background-color: #70F9D9;">
                Réserver ce cours
            </a>
        </div>
        <br>
        {% endif %}
    </div>

    <div style="background-color:#ECECEC;" class="rounded-lg shadow-md p-6 hover:shadow-lg transition">
        <div>
            <p class="text-black">
                <strong class="font-semibold">Description: </strong> {{ lecon.description }} <br>
            </p>
        </div>
        <div>
            <p class="text-black">Date de création : {{ lecon.dateCreation|date('d/m/Y') }}</p>
        </div>
        <br>
        <div>
            <p class="text-black">Taux Horaire : {{ lecon.hourlyRate }}</p>
        </div>
        <br>
        <div>
            {% if lecon.pdfPath %}
            <a class="text-black font-bold py-2 px-4 rounded" style="background-color: #FFD700;"
                href="{{ asset('uploads/pdfs/' ~ lecon.pdfPath) }}">Télécharger le PDF</a>
            {% endif %}
        </div>

        <br>

    </div>

    <div class="acceeDetail">
        <div>
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TUTEUR') %}
            <a href="{{ path('edit_lecon', {'id': lecon.id} ) }}" class="text-black font-bold py-2 px-4 rounded"
                style="background-color: #FFD700;">
                Modifier un cours
            </a>
            {% endif %}
        </div>
    </div>

    <div class="acceeDetail">
        <div>
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TUTEUR') %}
            <a href="{{ path('add_lecon', {'id': lecon.id} ) }}" class="text-black font-bold py-2 px-4 rounded"
                style="background-color: #70F9D9;">
                Ajouter un cours
            </a>
            {% endif %}
        </div>
    </div>

    <br>

    <div class="exerciceSection">
        {% for exercice in lecon.exercice %}
        <a class="text-black" href="{{ path('show_exercice',{'id': exercice.id })}}">
            <div style="background-color:#ECECEC;" class="rounded-lg shadow-md p-6 hover:shadow-lg transition">
                Exercice : {{ exercice.titre }}
            </div>
        </a>
        <br>

        {% for ressource in exercice.ressource %}
        <a class="text-black" href="{{ path('show_ressource',{'id': ressource.id })}}">
            <div style="background-color:#ECECEC;"
                class="text-blue-800 rounded-lg shadow-md p-6 hover:shadow-lg transition">
                Ressources : {{ ressource.titre }}
            </div>
        </a>
        <br>
        {% endfor %}
        {% endfor %}
        <br>
    </div>
    <br>
</div>
{% endblock %}