{% extends 'base.html.twig' %}

{% block title %} Ajouter une Matière {% endblock %}

{% block body %}
<div class="container mx-auto px-4 py-8">
    <h1 class="text-2xl font-bold text-center mb-4"> Ajouter une nouvelle matière </h1>

    {{ form_start(form) }}

    <div class="mb-4">
        {{ form_label(form.nom, 'Nom', {'label_attr': {'class': 'font-bold text-gray-300'}}) }}
        {{ form_widget(form.nom, {'attr': {'class': 'form-input mt-1 block w-full text-black'}}) }}
        {{ form_errors(form.nom) }}
    </div>

    <div class="mb-4">
        {{ form_label(form.description, 'Description', {'label_attr': {'class': 'font-bold text-gray-300'}}) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-input mt-1 block w-full text-black'}}) }}
        {{ form_errors(form.description) }}
    </div>

    <div class="mb-6">
        {{ form_label(form.hourly_rate, 'Taux Horaire', {'label_attr': {'class': 'font-bold text-567C8D'}}) }}
        <div class="relative">
            {{ form_widget(form.hourly_rate, {'attr': {'class': 'form-select mt-2 block w-full text-black border-2
            border-567C8D focus:ring-FFD700 focus:border-FFD700 rounded-lg py-2 px-3'}}) }}
        </div>
        {{ form_errors(form.hourly_rate) }}
    </div>

    <div class="mt-6">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Enregistrer
        </button>
    </div>

    {{ form_end(form) }}
</div>
{% endblock %}