{% extends 'base.html.twig' %}

{% block title %} Contact {% endblock %}

{% block body %}
{{ parent() }}
    <main class="wrapper_forms">
        {{ form_start(form) }}
            <div class="form_container">
                <div class="form-group">
                    {{ form_row(form.nom) }}
                    <div class="error_msg" id="firstName_error"></div>
                </div>
                <div class="form-group">
                    {{ form_row(form.email) }}
                    <div class="error_msg" id="email_error"></div>
                </div>
                <div class="form-group">
                    {{ form_row(form.sujet) }}
                    <div class="error_msg" id="subject_error"></div>
                </div>
                <div class="form-group">
                    {{ form_row(form.message) }}
                    <div class="error_msg" id="message_error"></div>
                </div>
                {{ form_row(form.save, {'attr': {'class': 'full_button_black'}}) }}
                <p id="constraints_message">
                    *Merci de nous contacter  <br>
                    Remplissez les champs requis (*) <br>
                </p>
            </div>

        {{ form_end(form) }}
    </main>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/js/contact.js')}}"></script>
{% endblock %}