<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %} Bienvenue {% endblock %}</title>
    <link id="iconTitre" rel="icon" href="{{ asset('img/iconTitle.png') }}">
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    {% endblock %}

    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>

<body>
    <nav class="bg-[#1B4255] p-4">
        <div class="container mx-auto flex justify-between items-center">
            <!-- Logo de la navbar -->
            <a href="{{ path('home') }}" style="color:#FFD700;" class="flex flex-rowtext-xl font-bold items-center">
                <img id="iconTitre" src="{{ asset('img/iconTitle.png') }}" loading="lazy" alt="Logo">
                <span> MyTutorSpace </span>
            </a>

            <!-- Menu principal -->
            <ul class="flex items-center space-x-6">
                <!-- Autres liens -->
                <li><a href="{{ path('app_lecon') }}" class="text-gray-300 hover:text-white">Cours</a></li>
                <li><a href="{{ path('app_user') }}" class="text-gray-300 hover:text-white">Trouve un Tuteur</a></li>

                <!-- Vérifier si l'utilisateur est connecté -->
                {% if app.user %}
                <li>
                    <a style="color:#FFD700;" class="hover:text-white"
                        href="{{ path('app_show_user', { 'id': app.user.id }) }}">
                        <div class="profilNavBar">
                            <div>
                                <img src="{{ asset('img/user.png') }}" loading="lazy" alt="iconProfil">
                            </div>
                            <div class="pProfil">
                                <p>{{ app.user.prenom }}</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_logout') }}" style="background-color: #ECECEC; color: black;"
                        class="bg-500 text-gray-300 px-4 py-2 rounded hover:bg-700">
                        <strong>Se déconnecter</strong>
                    </a>
                </li>
                {% else %}
                <li>
                    <a href="{{ path('app_login') }}" style="background-color: #ECECEC; color: black;"
                        class="bg-500 text-gray-300 px-4 py-2 rounded hover:bg-700">
                        <strong>Se connecter</strong>
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_role_choice') }}" style="background-color: #FFD700; color: black;"
                        class="bg-500 text-gray-300 px-4 py-2 rounded hover:bg-700">
                        <strong>S'inscrire</strong>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <script src="{{ asset('js/leconIndex.js') }}"></script>
    <script src="{{ asset('js/reservation.js') }}"></script>

    {% block body %}
    {% endblock %}
</body>

</html>