<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>{% block title %} Bienvenue {% endblock %}</title>
    <link id="iconTitre" rel="icon" href="{{ asset('img/iconTitle.png') }}">

    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    <link href="node_modules/@fullcalendar/core/main.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js"></script>
    <script src="https://unpkg.com/lucide@latest"></script>
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    {% endblock %}

    <!-- Tarte au Citron Script -->
    <script src="https://cdn.jsdelivr.net/npm/tarteaucitronjs@1.9.3/tarteaucitron.js"></script>
    <script>
        tarteaucitron.init({
            "privacyUrl": "", // URL of your privacy policy
            "hashtag": "#tarteaucitron", // Open the panel with this hashtag
            "cookieName": "tarteaucitron", // Cookie name
            "orientation": "bottom", // Banner position (top - bottom - middle - popup)
            "groupServices": false, // Group services by category
            "showAlertSmall": false, // Show the small banner on bottom right
            "cookieslist": false, // Show the cookie list
            "showIcon": true, // Show cookie icon to manage cookies
            "iconPosition": "BottomLeft", // Position of the icon between BottomRight, BottomLeft, TopRight and TopLeft
            "adblocker": false, // Show a Warning if an adblocker is detected
            "DenyAllCta": true, // Show the deny all button
            "AcceptAllCta": true, // Show the accept all button
            "highPrivacy": true, // HIGHLY RECOMMENDED Disable auto consent
            "handleBrowserDNTRequest": false, // If Do Not Track == 1, disallow all
            "removeCredit": false, // Remove credit link
            "moreInfoLink": true, // Show more info link
            "useExternalCss": false, // If false, the tarteaucitron.css file will be loaded
            "useExternalJs": false, // If false, the tarteaucitron.js file will be loaded
            "readmoreLink": "", // Change the default readmore link pointing to tarteaucitron.io
            "mandatory": true // Show a message about mandatory cookies
        });
    </script>

    <script type="text/javascript">
        tarteaucitron.user.recaptchaapi = 'XXXXX';
        (tarteaucitron.job = tarteaucitron.job || []).push('recaptcha');
    </script>
</head>

<body>
    <header>
        <nav class="bg-[#1B4255] p-4">
            <div class="container mx-auto flex flex-col justify-around lg:flex-row lg:justify-between items-center">
                <!-- Logo de la navbar -->
                <a href="{{ path('home') }}" style="color:#FFD700;" class="text-2xl flex items-center">
                    <img id="iconTitre" src="{{ asset('img/iconTitle.png') }}" loading="lazy" alt="Logo">
                    <span> MyTutorSpace </span>
                </a>

                <!-- Menu burger pour écrans de petite taille -->
                <div class="lg:hidden">
                    <button id="burgerMenu" class="text-white focus:outline-none">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16"></path>
                        </svg>
                    </button>
                </div>
                <div>
                    <!-- Menu principal -->
                    <ul id="menuList" class="hidden lg:flex items-center text-lg justify-center space-x-6">
                        <li><a href="{{ path('app_lecon') }}" class="text-gray-300 m-6 hover:text-yellow-400">Cours</a>
                        </li>
                        <li><a href="{{ path('app_user') }}" class="text-gray-300 hover:text-yellow-400">Trouve un
                                Tuteur</a>
                        </li>
                        <li><a href="{{ path('app_forum') }}" class="text-gray-300 hover:text-yellow-400">Forum</a></li>

                        {% if app.user %}
                        <li>
                            <a class="hover:text-white text-gray-300"
                                href="{{ path('app_show_user', { 'id': app.user.id }) }}">
                                <div class="profilNavBar hover:text-yellow-400">
                                    <div class="pProfil">
                                        <p>{{ app.user.prenom }}</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <br>
                        <li>
                            <a href="{{ path('app_logout') }}"
                                class="bg-[#FFD700] text-black px-4 py-2 text-base rounded hover:bg-[#E2B700]">
                                Se déconnecter
                            </a>
                        </li>
                        {% else %}
                        <br>
                        <li>
                            <a href="{{ path('app_login') }}"
                                class="bg-[#ECECEC] text-black px-4 py-2 rounded hover:bg-[#D1D1D1]">
                                Se connecter
                            </a>
                        </li>
                        <br>
                        <li>
                            <a href="{{ path('app_role_choice') }}"
                                class="bg-[#FFD700] text-black px-4 py-2 rounded hover:bg-[#E2B700]">
                                S'inscrire
                            </a>
                        </li>
                        <br>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

    </header>

    <main>
        {% block body %}

        {% endblock %}
    </main>

    <footer class="bg-[#1B4255] text-white p-[50px] py-12">
        <div class="container mx-auto grid grid-cols-1 md:grid-cols-3 gap-12">
            <!-- Section À propos -->
            <div class="space-y-4">
                <h3 class="text-xl font-semibold text-yellow-400">À propos</h3>
                <p class="text-gray-300 text-sm leading-relaxed">
                    MyTutorSpace est une plateforme dédiée aux tuteurs et étudiants pour un apprentissage personnalisé
                    et
                    efficace.
                </p>
            </div>

            <!-- Section Liens utiles -->
            <div class="space-y-4">
                <h3 class="text-xl font-semibold text-yellow-400">Liens utiles</h3>
                <ul class="space-y-3">
                    <li>
                        <a href="{{ path('app_contact') }}"
                            class="text-gray-300 hover:text-yellow-400 flex items-center transition-all duration-300 ease-in-out">
                            <span class="ml-2">Contact</span>
                        </a>
                        <a href="{{ path('pricing') }}"
                            class="text-gray-300 hover:text-yellow-400 flex items-center transition-all duration-300 ease-in-out">
                            <span class="ml-2">Tarifs</span>
                        </a>
                        <a href="{{ path('howItWorks') }}"
                            class="text-gray-300 hover:text-yellow-400 flex items-center transition-all duration-300 ease-in-out">
                            <span class="ml-2">Comment ça marche</span>
                        </a>
                        <a href="{{ path('rules') }}"
                            class="text-gray-300 hover:text-yellow-400 flex items-center transition-all duration-300 ease-in-out">
                            <span class="ml-2">Conditions générales</span>
                        </a>
                        <a href="{{ path('policity') }}"
                            class="text-gray-300 hover:text-yellow-400 flex items-center transition-all duration-300 ease-in-out">
                            <span class="ml-2">Politiques de confidentialité</span>
                        </a>
                    </li>
                    <!-- Vous pouvez ajouter d'autres liens ici si nécessaire -->
                </ul>
            </div>

            <!-- Section Réseaux sociaux -->
            <div class="space-y-4">
                <h3 class="text-xl font-semibold text-yellow-400">Suivez-nous</h3>
                <div class="flex flex-col space-y-3">
                    <a href="https://facebook.com" target="_blank"
                        class="text-gray-300 hover:text-yellow-400 flex items-center transition-all duration-300 ease-in-out">
                        <i class="fab fa-facebook fa-lg"></i>
                        <span class="ml-2">Facebook</span>
                    </a>
                    <a href="https://twitter.com" target="_blank"
                        class="text-gray-300 hover:text-yellow-400 flex items-center transition-all duration-300 ease-in-out">
                        <i class="fab fa-twitter fa-lg"></i>
                        <span class="ml-2">Twitter</span>
                    </a>
                    <a href="https://instagram.com" target="_blank"
                        class="text-gray-300 hover:text-yellow-400 flex items-center transition-all duration-300 ease-in-out">
                        <i class="fab fa-instagram fa-lg"></i>
                        <span class="ml-2">Instagram</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="text-center text-sm text-gray-300 mt-12 border-t border-gray-600 pt-6">
            &copy; {{ "now"|date("Y") }} MyTutorSpace. Tous droits réservés.
        </div>
    </footer>


    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <!-- Script pour le menu burger -->
    <script>
        const burgerMenu = document.getElementById("burgerMenu");
        const menuList = document.getElementById("menuList");

        burgerMenu.addEventListener("click", () => {
            // Toggle the visibility of the menu on mobile
            menuList.classList.toggle("hidden");
        });
    </script>
    <script src="{{ asset('js/leconIndex.js') }}"></script>
    <script src="{{ asset('js/reservation.js') }}"></script>
    <script src="node_modules/@fullcalendar/core/main.js"></script>
    <script src="node_modules/@fullcalendar/daygrid/main.js"></script>
    <script src="node_modules/@fullcalendar/timegrid/main.js"></script>
    <script src="node_modules/@fullcalendar/interaction/main.js"></script>
    {% endblock %}
</body>

</html>