{% extends 'base.html.twig' %}

{% block title %} Cours {{ niveau.titre }} {% endblock %}

{% block body %}
<div class="listLecon1">

    <h1> Cours {{ niveau.titre }}</h1>

    {% if lecons is empty %}
    <p class="text-gray-300">Aucune leçon trouvée pour ce niveau.</p>
    {% else %}
    <ul>
        {% for lecon in lecons %}
        <li>
            <a href="{{ path('show_lecon', {'id': lecon.id}) }}">
                <div class="InfoLecon flex flex-col p-4 mb-4 bg-gray-100 rounded-lg">
                    <div>
                        <h2 class="text-gray-700 font-semibold"> {{ lecon.titre }}</h2>
                    </div>
                    <div>
                        <p class="text-gray-500">Date de création : {{ lecon.dateCreation|date('d/m/Y') }}</p>
                    </div>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <br>

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('add_lecon') }}" class="text-black font-bold py-2 px-4 rounded" style="background-color: #FFD700;">
        Ajouter une leçon
    </a>
    {% endif %}
    <br>
    <a class="text-gray-300" href="{{ path('app_niveau') }}">Retour à la liste des niveaux</a>

</div>
{% endblock %}