{% extends 'base.html.twig' %}

{% block title %} Leçons du Niveau - {{ niveau.titre }} {% endblock %}

{% block body %}

<h2>Leçons : {{ niveau.titre }}</h2>

<div class="listLecon">
    {% if lecons|length > 0 %}
    <ul>
        {% for lecon in lecons %}
        <li class="px-4 py-2">
            <a href="{{ path('show_lecon', {'id': lecon.id }) }}" class="text-gray-800">
                {{ lecon.titre }}
            </a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p class="text-gray-300">Aucune leçon associée à ce niveau.</p>
    {% endif %}
    <br>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('add_lecon') }}" class="text-black font-bold py-2 px-4 rounded" style="background-color: #FFD700;">
        Ajouter une lecon
    </a>
    {% endif %}

</div>

{% endblock %}