{% extends 'base.html.twig' %}

{% block title %}Modifier l'utilisateur{% endblock %}

{% block body %}
<h1 class="text-2xl font-bold mb-4">Modifier l'utilisateur</h1>

{{ form_start(form, { 'attr': { 'class': 'space-y-4' } }) }}

{# Champs du formulaire #}
<div class="listEditUser">
    <div>
        {{ form_row(form.email, { 'attr': { 'class': 'border border-gray-300 rounded-lg p-2 text-black focus:outline-none focus:ring-2 focus:ring-blue-500' } }) }}
    </div>
    <div>
        {{ form_row(form.nom, { 'attr': { 'class': 'border border-gray-300 rounded-lg p-2 text-black focus:outline-none focus:ring-2 focus:ring-blue-500' } }) }}
    </div>
    <div>
        {{ form_row(form.prenom, { 'attr': { 'class': 'border border-gray-300 rounded-lg p-2 text-black focus:outline-none focus:ring-2 focus:ring-blue-500' } }) }}
    </div>
    <div>
        {{ form_row(form.aboutMe, { 'attr': { 'class': 'border border-gray-300 rounded-lg p-2 text-black focus:outline-none focus:ring-2 focus:ring-blue-500' } }) }}
    </div>
    <div>
        {{ form_row(form.password, { 'attr': { 'class': 'border border-gray-300 rounded-lg p-2 text-black focus:outline-none focus:ring-2 focus:ring-blue-500' } }) }}
    </div>

    <button type="submit" style="background-color: #FFD700;" class=" text-black font-bold py-2 px-4 rounded hover:bg-blue-600 transition duration-200">
        Enregistrer les modifications
    </button>

    {{ form_end(form) }}
</div>
{% endblock %}
