{% extends 'base.html.twig' %}

{% block title %} Mon profil {% endblock %}

{% block body %}

{# Je définis un titre pour indiquer le rôle de l'élève #}
<h2 class="text-gray-300">Profil {{ user.nom }} {{ user.prenom }}</h2>

{# J'affiche le nom et l'email de l'utilisateur élève #}
<p class="text-gray-300">Nom : {{ user.nom }}</p>
<p class="text-gray-300">Prénom : {{ user.prenom }}</p>
<p class="text-gray-300">Email : {{ user.email }}</p>
<p class="text-gray-300">About Me : {{ user.aboutMe }}</p>

<br>

{# Je crée un lien pour permettre à l'élève de modifier ses informations #}
<a class="text-gray-300" href="{{ path('app_user_edit', { id: user.id }) }}" class="btn">Modifier le profil</a>
{% endblock %}