{% extends 'base.html.twig' %}

{% block title %} Mon profil {% endblock %}

{% block body %}

{# J'ajoute un titre pour identifier le profil du tuteur #}
<h2 class="text-gray-300"> Profil {{ user.nom }} {{ user.prenom }} </h2>

{# J'affiche le nom et l'email du tuteur #}
<p class="text-gray-300">Nom : {{ user.nom }}</p>
<p class="text-gray-300">Email : {{ user.email }}</p>
<p class="text-gray-300">About Me : {{ user.aboutMe }}</p>


<br>

{# J'ajoute un lien pour permettre au tuteur de modifier son profil #}
<a class="text-gray-300" href="{{ path('app_user_edit', { id: user.id }) }}" class="btn">Modifier le profil</a>
{% endblock %}